@import 'color';

.filter-field-container{
    text-align: center;
    .filter-field-input input{
        color: white;
        direction: auto;
    }
    color: white
}

.filter-vehicle-container{
    padding-bottom: 14px;
    .vehicle-type-icon svg{
        width: 25px;
        height: 25px;
        fill: $grey;
    }
    .type-active{
        fill:$secondary !important;
    }
}