// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*
 Now I link fonts in /public/index.html
*/

@font-face{
    font-family: 'Dubai';
    src: url(../fonts/Dubai/Dubai-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'LemonMilk';
    src: url(../fonts/LemonMilk/LemonMilk.otf) format('opentype');
}

@font-face{
    font-family: 'LemonMilk-light';
    src: url(../fonts/LemonMilk/LemonMilklight.otf) format('opentype');
}