.vehicles-list-container, .std-list-container{
  max-height: 75vh;
  min-height: 50vh;
  overflow-y: auto;

  .vehicles-list, .std-list{

    padding: 5px!important;
    margin: 5px!important;
    .list-item{
      border: 1px solid $grey;
      text-align: center;
    }
    img{
      width: 30px;
      height: 30px;
    }
    .list-item-text{
      cursor: pointer;
      text-align: center;
      h6{
        color: white;
      }
    }
    .vehicle-number{
      color: $primary
    }
  }
  .list-icon svg{
    height: 25px;
    width: 25px;
  }
  .list-icon{
    color: $grey;
    text-align: center;
  }
}

.planner-result-container{
  direction: rtl;
}
.planner-result-scroller{
  direction: ltr;
  .list{
    direction: rtl;
  }
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}
