.map-container{
    position: relative;
    height: 100%;
    min-height: 85vh;
    margin: auto 8px 8px 8px;
    .overlays{
        pointer-events: none
    }
    .mapboxgl-popup-content{
        color: black;
    }
}

.marker{
    background-image: url('/static/destination.svg');
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    z-index: 50;
}

.marker.source{
    background-image: url('/static/marker/source.svg');
}

.marker.destination{
    background-image: url('/static/marker/destination.svg');
}

.bus-marker{
    background-image: url('/static/marker/bus-pin.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.bus-marker-red{
    background-image: url('/static/marker/bus-pin-red.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.map-nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-infobox{
    position: absolute;
    bottom: 5px;
    padding: 2px 10px;
    left: 100px;
    font-size: 14px;
    background: rgba(69,73,85, 0.8);
}

.map-congestion-panel{
    position: absolute;
    bottom: 30px;
    padding: 10px;
    right: 5px;
    pointer-events: auto;
    background: rgba(69,73,85, 0.8);
    h3 {text-align: center;}
}

.bus-stop-marker {
    background-image: url('/static/marker/bus-stop.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 0%;
    cursor: pointer;
}
