.sidebar-container{

    min-height: 100vh;
    border-right: 1px solid $grey;
    background-color: darken($primary,5%);

    height: 100%;
    width: 60px; 
    position: fixed; 
    z-index: 2; 
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

    .sidebar-header{
        background-color: darken($primary,5%);
        z-index: 5;
        padding-top: 0px;
    }
    .sidebar-actions{
        position: absolute;
        bottom: 45vh;
    }
    li{
        padding: inherit 4px;
        div{
            margin: 0;
        }
    }
    .sidebar-icon{
        max-height: 35px;
    }
}