.topbar-container{

    min-height: 50px;
    max-height: 50px;
    background-color: darken($primary,5%);
    padding-left: 16px; 
    padding-top: 5px;
    z-index: 10; 
    top: 0;
    left: 0;
    overflow-y: hidden;

    font-family: 'LemonMilk', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .topbar-header{
        background-color: darken($primary,5%);
        z-index: 5;
    }
    .topbar-actions{
        margin-top: 60px;
        position: absolute;
        bottom: 0px;
    }
    .topbar-title{
        font-size: 24px;
        padding:5px;
        padding-left: 9px;
    }
    li{
        padding: inherit 4px;
        div{
            margin: 0;
        }
    }
    .topbar-icon{
        max-height: 35px;
    }
    .notification-icon{
        svg{
            font-size: 20px!important;
        }
    }
    .links{
        text-align: right;
        padding: 10px 5px 5px 5px;
        a{
            padding: 5px 8px;
        }
    }
    .topbar-router-container{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;

        .topbar-router-link{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: 0 10px;
        }
        a{
            color: $grey;
            text-decoration: unset;
            font-size: 18px;
            font-family: 'LemonMilk-light', serif;
            padding-bottom: 5px;
        }
        a.active{
            color: white;
            border-bottom: 3px solid $secondary;
        }
    }
}