@import "color";
@import "font";
@import "sidebar";
@import "topbar";
@import "filter";
@import "map";
@import "lists";

html{
    height: 100%;
}

body{
    background-color: lighten($primary, 10%);;
    color: $light;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Dubai', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container{
    padding: 8px 8px 8px 8px;
    min-height: 85vh;

    height: 100%;
    background: lighten($primary, 10%);
    .home-route-container{
        min-height: 80vh;
        position: relative;
        margin: 10px 10px 10px 10px;
        background-color: $primary;
    }
}


.logo-container{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dubai', Courier, monospace;
    padding: 10px 0;
    .logo-img{
        width:50%;
    }
}

.date-statistics{
  * {
    color: white;
  }
  input{
    color: white!important;
  }
}

.statistics-paper-container{
  padding: 10px;
}

.statistics-paper{
  background: lighten($primary, 10%)!important;
  text-align: center;
}
.text-center{
  text-align: center;
}

.planner-submit{
  text-align: center;
}
